html {
  height: 100vh;
  width: 100vw;
  --main-text: #000000;
  --secondary-text: #ffffff;
  --main: #68d89b;
  --main-hover: #46cc83;
  --light-grey: #F0F0F0;
  --medium-grey: #c3c0c0;
  --main-background: white;
  --error-red: #e83333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 600px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: var(--main-text);
  font-family: 'Mukta Mahee', sans-serif;
}
header {
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 60px;
  position: fixed;
  min-width: 600px;
  background: var(--main-background);
}
.navigator {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
  height: 60px;
  padding: 10px;
}
.navigator > div {
  display: none;
}
header > div > h1 {
  font-size: 27px;
  line-height: 40px;
  display: inline-block;
  cursor: pointer;
}
h1 > span {
  color: var(--main);
}
header > div > div {
  float: right;
  display: none;
}
header > div > i {
  float: right;
  display: inline-block;
}
.header-icon {
  font-size: 30px;
  cursor: pointer;
  padding: 5px 13px;
  transition: 140ms ease;
  color: var(--medium-grey);
}
.header-icon:hover {
  color: var(--main-hover);
}
#sign-out {
  padding-left: 10px;
  padding-right: 0;
  font-size: 33px;
  margin-top: -3px;
}
.anime-info {
  width: 80vw;
  height: 300px;
  margin: 100px auto 50px;
  max-width: 1400px;
}
.anime-info > div {
  display: inline-block;
  vertical-align: top;
  height: 300px;
}
.song-holder {
  width: 80vw;
  height: auto;
  margin: 100px auto 50px;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: repeat(auto-fill, 380px);
}
#en-name {
  font-size: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 350px;
}
#cover-image {
  width: 300px;
  height: 300px;
  background: #c8c8c8;
  margin-right: 50px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: center;
}
.info-icon {
  color: white;
  background: var(--main);
  border-radius: 4px;
  font-size: 18px;
  padding: 15px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.add-prompt {
  height: 100vh;
  width: 100vw;
  background: rgba(87, 87, 87, 0.63);
  position: fixed;
  z-index: 1000;
  top: 0;
}
.add-prompt > form {
  background: white;
  width: 400px;
  height: 300px;
  margin: 25vh auto;
  padding: 20px;
}
.add-prompt > form > p {
  max-width: 360px;
}
#close-add {
  float: right;
}
.error {
  top: 30px;
  width: 350px;
  height: 150px;
  right: -360px;
  padding: 20px;
  z-index: 1001;
  position: fixed;
  background: var(--main-background);
  box-shadow: 0 0 10px rgba(66, 66, 66, 0.3);
  border-right: 7px solid var(--error-red);
}
.error > h1 {
  color: var(--error-red);
  letter-spacing: 1.5px;
  font-size: 25px;
  line-height: 30px;
}
