html {
  height: 100vh;
  width: 100vw;
  --main-text: #000000;
  --secondary-text: #ffffff;
  --main: #68d89b;
  --main-hover: #46cc83;
  --light-grey: #F0F0F0;
  --medium-grey: #c3c0c0;
  --main-background: white;
  --error-red: #e83333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 800px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: var(--main-text);
  font-family: 'Mukta Mahee', sans-serif;
}
header {
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 60px;
  position: fixed;
  min-width: 800px;
  background: var(--main-background);
}
.navigator {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
  height: 60px;
  padding: 10px;
}
.navigator > div {
  display: none;
}
header > div > h1 {
  font-size: 27px;
  line-height: 40px;
  display: inline-block;
  cursor: pointer;
}
h1 > span {
  color: var(--main);
}
header > div > div {
  float: right;
  display: none;
}
header > div > i {
  float: right;
  display: inline-block;
}
.header-icon {
  font-size: 30px;
  cursor: pointer;
  padding: 5px 13px;
  transition: 140ms ease;
  color: var(--medium-grey);
}
.header-icon:hover {
  color: var(--main-hover);
}
#sign-out {
  padding-left: 10px;
  padding-right: 0;
  font-size: 33px;
  margin-top: -3px;
}
.banner {
  height: 380px;
  width: 100vw;
  background: var(--medium-grey);
  margin: 60px 0px 0px;
}
.create-prompt {
  top: 0;
  height: 0;
  width: 100vw;
  z-index: 1000;
  position: fixed;
  overflow-y: scroll;
  transition: 400ms ease;
  background: rgba(40, 40, 40, 0.3);
}
.create-prompt > form {
  width: 380px;
  height: 465px;
  padding: 20px;
  margin: 20vh auto;
  padding-left: 30px;
  border-radius: 3px;
  background: var(--main-background);
}
form > h1 {
  font-size: 47px;
  line-height: 65px;
}
form > p {
  color: var(--main)
}
form > select {
  width: 102px;
  height: 55px;
  border: none;
  outline: none;
  padding: 10px;
  margin-top: 9px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 4px;
  margin-bottom: 13px;
  transition: 130ms ease;
  font-weight: 600;
  background: var(--main);
  color: var(--secondary-text);
  -webkit-appearance: none;
  text-align: center;
  padding: 10px 22px;
  overflow: hidden;
}
form > label, form > button {
  width: 55px;
  height: 55px;
  border: none;
  outline: none;
  margin-top: 9px;
  font-size: 17px;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 4px;
  margin-bottom: 13px;
  background: var(--main);
  color: var(--secondary-text);
}
form > label[for="cover-input"] {
  padding: 13.5px 23px;
}
form > label, form > button, form > select {
  transition: 140ms ease;
}
form > label:hover, form > button:hover, form > select:hover {
  background: var(--main-hover);
}
input[type='text'] {
  height: 50px;
  border: none;
  width: 300px;
  padding: 18px;
  outline: none;
  color: #4f4f4f;
  font-size: 18px;
  margin: 12px 0px;
  font-weight: 500;
  margin-right: 50px;
  border-radius: 4px;
  background: var(--light-grey);
}
.error {
  top: 30px;
  width: 350px;
  height: 150px;
  right: -360px;
  padding: 20px;
  z-index: 1001;
  position: fixed;
  background: var(--main-background);
  box-shadow: 0 0 10px rgba(66, 66, 66, 0.3);
  border-right: 7px solid var(--error-red);
}
.error > h1 {
  color: var(--error-red);
  letter-spacing: 1.5px;
  font-size: 25px;
  line-height: 30px;
}
.body {
  min-width: 800px;
}
.body > h1 {
  color: var(--main);
  font-size: 30px;
  margin-bottom: 20px;
}
.body > h1::first-letter {
  text-transform: uppercase;
}
.genre-holder {
  width: 100%;
  height: 250px;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, 280px);
  margin-bottom: 50px;
  min-width: 300px;
  height: auto;
  margin: 0 auto 100px;
}
.anime-box {
  width: 280px;
  height: 280px;
  background: url(https://qph.fs.quoracdn.net/main-qimg-4b8caf5d3d267084b06c2530ba54820e);
  background-attachment: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  cursor: pointer;
  transition: 130ms ease;
  margin: 0 auto;
}
.anime-box:hover {
  margin-top: -5px;
  margin-bottom: 5px;
}
.anime-text {
  overflow: hidden;
  text-overflow: ellipsis;
  width: fit-content;
  white-space: nowrap;
  max-width: 240px;
  background: white;
  padding: 0 10px;
}
.anime-box > div > i {
  color: var(--main);
  margin-right: 5px;
  font-size: 20px;
}
.jap-title {
  max-width: 220px;
  font-size: 20px;
}
.likes-div {
  padding: 5px 10px;
  background: white;
  width: fit-content;
}
