body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

main, footer {
    /* display: none; */
}

main {
    margin-top: 80px;
    z-index: 1;
    position: relative;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    top: 0;
    position: fixed;
    background: white;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f7f7f8;
}

.search-div {
    height: 40px;
    margin: 5px 0;
    position: relative;
}

.search-link {
    width: 100%;
    text-decoration: none;
}

.search-link:visited {
    font-style: italic;
}

.search-item {
    width: 100%;
    margin: 10px 10px 0;
}

.search-item:last-child {
    margin-bottom: 10px;
}

#logo {
    height: 50px;
    width: 50px
}

#search {
    height: 100%;
    width: 100%;
    padding: 12px 20px 10px 45px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    background: #f7f7f8;
    outline: none;
}

#search-icon {
    position: absolute;
    font-size: 16px;
    top: 14px;
    left: 20px;
}

#search-results {
    position: absolute;
    list-style: none;
    background:#f7f7f8;
    border-radius: 10px;
    width: 100%;
    top: 50px;
}

.genre-list {
    display: flex;
    list-style: none;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    padding: 0.5em 0;
}

.genre-list:last-child {
    margin-bottom: 40px;
}

.anime-item {
    flex-shrink: 0;
    height: 100%;
    border-radius: 2px;
    margin-right: 8px;
}

.anime-link {
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
}

.anime-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    nav {
        padding: 13px 5%;
    }

    .search-div {
        width: 75%;
    }

    main {
        padding: 10px 0 10px 5%;
    }

    .genre-list {
        height: 5.5em;
    }

    .anime-item {
        width: 13em;
        padding: 0.65em 0.5em 0.5em 0.8em;
    }

    .anime-name {
        font-size: 1.3em;
    }

    .see-more {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    nav {
        padding: 10px 10%;
    }

    .search-div {
        width: 50%;
        max-width: 600px;
    }

    main {
        padding: 10px 0 10px 10%;
    }

    .genre-list {
        position: relative;
        height: 6em;
    }

    .genre-list::-webkit-scrollbar {
        display: none;
    }

    .anime-item {
        width: 14em;
        padding: 0.8em 0.5em 0.5em 0.8em;
    }

    .anime-name {
        font-size: 1.5em;
    }

    .see-more {
        right: 0;
        height: 5em;
        width: 2em;
        display: grid;
        color: white;
        position: sticky;
        float: right;
        cursor: pointer;
        place-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0 0.5em; 
    }
    .see-more > i {
        font-size: 1.8em;
    }
}