<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <title>Animusic | Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
    <script src="https://kit.fontawesome.com/1984d39098.js" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-storage.js"></script>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
          <li class="logo">
              <a href="/" class="nav-link">
                  <span class="link-text"><span style="color:#80ff7e;">Ani</span>music</span>
                  <i class="fad fa-angle-double-right"></i>
              </a>
          </li>
            <li id="profile-pic-item" class="nav-item">
                <a class="nav-link" onclick="clickInput()">
                    <i class="fad fa-user-circle"></i>
                    <span class="link-text">Username</span>
                    <input accept="image/x-png, image/jpeg" ocnchange="changeProfilePic()" type="file" id="profile-pic-input" hidden>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fad fa-home-lg-alt"></i>
                    <span class="link-text">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a onclick="signOut()" class="nav-link">
                    <i class="fad fa-sign-out-alt"></i>
                    <span class="link-text">Logout</span>
                </a>
             </li>
        </ul>
    </nav>
    <main>

        <form class="change-name">
            <h1>Change Name</h1>
            <label for="new-name">New Nickname</label>
            <input id="new-name" type="text" class="setting-input" autocomplete="nickname" autofocus>
            <button onclick="changeName()" type="button" class="setting-button">Change Name</button>
        </form>

        <form class="change-email">
            <h1>Change Email</h1>
            <label for="curr-pass1">Current Password</label>
            <input name="current-password1" id="curr-pass1" type="password" class="setting-input" autocomplete="current-password">
            <label for="new-email">New Email</label>
            <input name="new-email" id="new-email" type="email" class="setting-input" autocomplete="email">
            <button onclick="reAuth('email')" type="button" class="setting-button">Change Email</button>
        </form>

        <form class="change-password">
            <h1>Change Password</h1>
            <label for="curr-pass2">Current Password</label>
            <input name="current-password2" id="curr-pass2" type="password" class="setting-input" autocomplete="current-password">
            <label for="new-pass">New Password</label>
            <input name="new-password" id="new-pass" type="password" class="setting-input" autocomplete="new-password">
            <button onclick="reAuth('pass')" type="button" class="setting-button">Change Password</button> 
        </form>

    </main>
    <script type="text/javascript">
        //firebase config
        var config = {
            apiKey: "AIzaSyC14XiFk8naG0gkW-ev7YRbxU0FLY8k_yI",
            authDomain: "animusic-da89e.firebaseapp.com",
            databaseURL: "https://animusic-da89e.firebaseio.com",
            projectId: "animusic-da89e",
            storageBucket: "animusic-da89e.appspot.com",
            messagingSenderId: "363034068126",
            appId: "1:363034068126:web:c73a87ff751c2292a1a78f",
            measurementId: "G-457KQF3VP7"
        };
        firebase.initializeApp(config);
    </script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='account.js') }}"></script>
</body>
</html>
