<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animusic | {{ anime }}</title>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-database.js"></script>
    <script defer src="{{ url_for('static', filename='anime.js') }}"></script>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">home</a>
            </li>
        </ul>
    </nav>
    <main class="main">
        {{ anime }}
        <div class="like-info">
            <span id="curr-likes">0</span>
            <button id="like-anime">like</button>
        </div>
        <div class="popup">
            <form class="popup-content">
                <label for="spotify-input">Spotify song URL</label>
                <input id="spotify-input" type="url">
                <button id="add-song" type="reset">Add song</button>
            </form>
        </div>
        <form class="search">
            <label for="search">Search</label>
            <input id="search" type="text">
            <ul id="search-results"></ul>
        </form>
        <div class="songs"></div>
        <footer>
            version 1.1
        </footer>
    </main>
<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyC14XiFk8naG0gkW-ev7YRbxU0FLY8k_yI",
        authDomain: "animusic-da89e.firebaseapp.com",
        databaseURL: "https://animusic-da89e.firebaseio.com",
        projectId: "animusic-da89e",
        storageBucket: "animusic-da89e.appspot.com",
        messagingSenderId: "363034068126",
        appId: "1:363034068126:web:c73a87ff751c2292a1a78f",
        measurementId: "G-457KQF3VP7"      
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    window.anime = '{{ anime }}'
</script>
</body>
</html>