<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Animusic | {{ anime }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='anime.css') }}">
    <script src="https://kit.fontawesome.com/1984d39098.js" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-database.js"></script>
  </head>
  <body onload="loadAnime('{{ anime }}')">
    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="logo">
            <a href="/" class="nav-link">
                <span class="link-text">Animusic</span>
                <i class="fad fa-angle-double-right"></i>
            </a>
        </li>
        <li class="nav-item nav-search">
            <a class="nav-link">
                <i class="fad fa-search"></i>
                <span class="link-text search-span">
                    <input id="search" type="text" class="link-input search" placeholder="Search">
                    <div class="search-results"></div>
                </span>
            </a>
        </li>
        <li id="account-item" class="nav-item">
          <a class="nav-link" href="/account">
            <i class="fad fa-cog"></i>
            <span class="link-text">Settings</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="popup" style="display: none;">
      <form class="popup-content">
        <i onclick="closePopup()" class="far fa-times"></i>
        <h1>Add song</h1>
        <input id="spotify-input" type="text" placeholder="Spotify song link">
        <button onclick="addSong()" type="button" name="button"><i class="fad fa-check"></i></button>
      </form>
    </div>
    <main>
      <div class="anime-info">
        <h1 id="anime-en"></h1>
        <h2 id="anime-jap"></h2>
        <h3 id="anime-genre"></h3>
        <span id="likes-span">
          <i id="like-button" class="fad fa-heart-circle"></i>
          <p id="anime-likes"></p>
        </span>
        <button onclick="openPopup()"><i class="far fa-plus-circle"></i></button>
      </div>
      <ul class="song-holder"></ul>
      <div class="comments">
        <form class="comments-form">
          <input id="comment-input" type="text">
          <button id="add-comment" type="reset"><i class="fad fa-paper-plane"></i></button>
        </form>
        <ul class="comment-holder"></ul>
      </div>
    </main>
    <script type="text/javascript">
        //firebase config
        var config = {
            apiKey: "AIzaSyC14XiFk8naG0gkW-ev7YRbxU0FLY8k_yI",
            authDomain: "animusic-da89e.firebaseapp.com",
            databaseURL: "https://animusic-da89e.firebaseio.com",
            projectId: "animusic-da89e",
            storageBucket: "animusic-da89e.appspot.com",
            messagingSenderId: "363034068126",
            appId: "1:363034068126:web:c73a87ff751c2292a1a78f",
            measurementId: "G-457KQF3VP7"
        };
        firebase.initializeApp(config);
        window.anime = '{{ anime }}'
    </script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='anime.js') }}"></script>
  </body>
</html>
