<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Animusic | {{anime}}</title>
  <script src="https://kit.fontawesome.com/bc6a7ddc8b.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/anime.css') }}">
  <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-storage.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script>
</head>

<body>
  <header>
    <div class="navigator">
      <h1><span>ani</span>music</h1>
      <div class="signed-in-header">
        <i id="user-settings" class="fas fa-user-cog header-icon"></i>
        <i id="sign-out" onclick="signOut()" class="fas fa-sign-out-alt header-icon"></i>
      </div>
      <div class="signed-out-header">
        <i id="sign-up" class="fas fa-user-plus header-icon"></i>
      </div>
      <i id="patreon" class="fab fa-patreon header-icon"></i>
      <i class="fas fa-search header-icon"></i>
    </div>
  </header>
  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyBblgZ4cy2FT0_Lydilueh3eeCl4IO7OPs",
      authDomain: "animusic-dev.firebaseapp.com",
      databaseURL: "https://animusic-dev.firebaseio.com",
      projectId: "animusic-dev",
      storageBucket: "animusic-dev.appspot.com",
      messagingSenderId: "1064983100624",
      appId: "1:1064983100624:web:8b4600c34bdc54faac32d5"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>
  <script defer type="text/javascript" src="{{ url_for('static', filename='js/anime.js') }}"></script>
</body>

</html>
