<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animusic</title>
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" integrity="sha384-3Nqiqht3ZZEO8FKj7GR1upiI385J92VwWNLj+FqHxtLYxd9l+WYpeqSOrLh0T12c" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-storage.js"></script>
</head>
<body onload="loadAnime()">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="nav-link">
                    <i class="fas fa-search"></i>
                    <input onkeyup="search(event.target.value)" type="text" class="link-input" placeholder="Search">
                    <div class="search-results"></div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link signed-in open-add" onclick="openPopup();return false;" href="#">
                    <i class="fas fa-plus-circle"></i>
                    <span class="link-text">Add anime</span>
                </a>
            </li>
            <li style="display: none;" class="nav-item signed-in">
                <a class="nav-link" href="http://localhost:5000/account">
                    <i class="fas fa-cog"></i>
                    <span class="link-text">Settings</span>
                </a>
            </li>
            <li style="display: none;" class="nav-item signed-out">
                <a class="nav-link" href="http://localhost:5000/sign-up">
                    <i class="fas fa-sign-in-alt"></i>
                    <span class="link-text">Sign up</span>
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <div style="display:none;" class="popup">
            <form class="popup-content">
                <button type="reset" onclick="closePopup()"><i class="fas fa-times"></i></button>
                <h1>Add anime</h1>
                <input id="en-input" type="text" class="popup-input" placeholder="Anime name (en)">
                <input id="jap-input" type="text" class="popup-input" placeholder="Anime name (jap)">
                <select id="genre-select">
                    <option selected disabled>Genre</option>
                    <option value="shonen">Shonen</option>
                    <option value="isekai">Isekai</option>
                </select>
                <button onclick="clickInput()" type="button" id="file-button" class="popup-button"><i class="fas fa-file-image"></i></button>
                <input id="cover-input" type="file" accept="image/*" hidden>
                <button onclick="addSong()" class="popup-button" id="finish-button" type="button"><i class="fas fa-check"></i></button>
            </form>
        </div>
    </main>
    <script type="text/javascript">
        //firebase config
        var config = {
            apiKey: "AIzaSyC14XiFk8naG0gkW-ev7YRbxU0FLY8k_yI",
            authDomain: "animusic-da89e.firebaseapp.com",
            databaseURL: "https://animusic-da89e.firebaseio.com",
            projectId: "animusic-da89e",
            storageBucket: "animusic-da89e.appspot.com",
            messagingSenderId: "363034068126",
            appId: "1:363034068126:web:c73a87ff751c2292a1a78f",
            measurementId: "G-457KQF3VP7"
        };
        firebase.initializeApp(config);
    </script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>