<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animusic</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="https://kit.fontawesome.com/1984d39098.js" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-storage.js"></script>
</head>
<body onload="loadAnime()">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="logo">
                <a href="/" class="nav-link">
                    <span class="link-text"><span style="color:#80ff7e;">Ani</span>music</span>
                    <i class="fad fa-angle-double-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="fad fa-search"></i>
                    <span class="link-text">
                        <input onkeyup="search(event.target.value)" type="text" class="link-input" placeholder="Search">
                        <div class="search-results"></div>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link signed-in" onclick="openPopup()">
                    <i class="fad fa-plus-circle"></i>
                    <span class="link-text">Create</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link signed-in" onclick="openPopup()">
                    <i style="padding: 0 0.2rem;" class="fad fa-bookmark"></i>
                    <span class="link-text">Favorites</span>
                </a>
            </li>
            <li id="account-item" class="nav-item signed-in">
                <a class="nav-link" href="/account">
                    <i class="fad fa-cog"></i>
                    <span class="link-text">Settings</span>
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <div class="popup">
            <form class="popup-content">
                <button type="reset" onclick="closePopup()"><i class="fas fa-times"></i></button>
                <h1>Add anime</h1>
                <input id="en-input" type="text" class="popup-input" placeholder="Anime name (en)">
                <input id="jap-input" type="text" class="popup-input" placeholder="Anime name (jap)">
                <select id="genre-select">
                    <option selected disabled>Genre</option>
                    <option value="shonen">Shonen</option>
                    <option value="isekai">Isekai</option>
                </select>
                <button onclick="clickInput()" type="button" id="file-button" class="popup-button"><i class="fas fa-file-image"></i></button>
                <input id="cover-input" type="file" accept="image/*" hidden>
                <button onclick="addSong()" class="popup-button" id="finish-button" type="button"><i class="fas fa-check"></i></button>
            </form>
        </div>
    </main>
    <script type="text/javascript">
        //firebase config
        var config = {
            apiKey: "AIzaSyC14XiFk8naG0gkW-ev7YRbxU0FLY8k_yI",
            authDomain: "animusic-da89e.firebaseapp.com",
            databaseURL: "https://animusic-da89e.firebaseio.com",
            projectId: "animusic-da89e",
            storageBucket: "animusic-da89e.appspot.com",
            messagingSenderId: "363034068126",
            appId: "1:363034068126:web:c73a87ff751c2292a1a78f",
            measurementId: "G-457KQF3VP7"
        };
        firebase.initializeApp(config);
    </script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
