<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animusic</title>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-database.js"></script>
    <script defer src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">add anime</a>
            </li>
        </ul>
    </nav>
    <main class="main">
        <div class="popup">
            <form class="popup-content">
                <label for="en-name">Anime Name (en)</label>
                <input id="en-name" class="popop-input" type="text">
                <label for="jap-name">Anime Name (jap)</label>
                <input id="jap-name" class="popop-input" type="text">
                <select id="genre-select">
                    <option value="genre" selected disabled>Genre</option>
                    <option value="shonen">Shonen</option>
                    <option value="isekai">Isekai</option>
                </select>
                <button id="add-anime" type="reset">Submit</button>
            </form>
        </div>
        <form class="search">
            <label for="search">Search</label>
            <input id="search" type="text">
            <ul id="search-results"></ul>
        </form>
        <div class="anime"></div>
    </main>
    <footer>
        version 1.2
    </footer>
<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyC14XiFk8naG0gkW-ev7YRbxU0FLY8k_yI",
        authDomain: "animusic-da89e.firebaseapp.com",
        databaseURL: "https://animusic-da89e.firebaseio.com",
        projectId: "animusic-da89e",
        storageBucket: "animusic-da89e.appspot.com",
        messagingSenderId: "363034068126",
        appId: "1:363034068126:web:c73a87ff751c2292a1a78f",
        measurementId: "G-457KQF3VP7"      
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172813889-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-172813889-1');
</script>
</body>
</html>