<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animusic | {{ action }}</title>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
</head>
<body>
    <div class="body">
        <h1>{{ action }}</h1>
        <form class="login-form">
            <input id="name-input" class="info-input" type="text" placeholder="Name">
            <input id="email-input" class="info-input" type="text" placeholder="Email">
            <input id="password-input" class="info-input" type="text" placeholder="Password">
            <button type="button" onclick="login()">{{ action }}</button>
        </form>
        <a href="http://localhost:5000{{new_path}}">{{action_opp}}</a>
    </div>
    <script type="text/javascript">
        //firebase config
        var config = {
            apiKey: "AIzaSyC14XiFk8naG0gkW-ev7YRbxU0FLY8k_yI",
            authDomain: "animusic-da89e.firebaseapp.com",
            databaseURL: "https://animusic-da89e.firebaseio.com",
            projectId: "animusic-da89e",
            storageBucket: "animusic-da89e.appspot.com",
            messagingSenderId: "363034068126",
            appId: "1:363034068126:web:c73a87ff751c2292a1a78f",
            measurementId: "G-457KQF3VP7"
        };
        firebase.initializeApp(config);
        window.action = '{{ action }}'
    </script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>