<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animusic | {{ action }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
</head>
<body>

    <form class="login-form">
        <i class="fad fa-home-lg"></i>
        <h1>{{ action }}</h1>

        {% if action == 'sign in' %}
        <section>
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" autocomplete="email" required autofocus>
        </section>

        <section>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" autocomplete="current-password" required>
        </section>
        {% else %}
        <section>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" autocomplete="nickname" required autofocus>
        </section>

        <section>
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" placeholder="email" autocomplete="email" required>
        </section>

        <section>
            <label for="password">Password (6 characters+)</label>
            <input type="password" id="password" name="password" minlength="6" autocomplete="new-password" required>
        </section>
        {% endif %}

        <a href="{{new_path}}">{{action_opp}}</a>
        <button type="button" onclick="login()">{{ action }}</button>

    </form>

    <script type="text/javascript">
        //firebase config
        var config = {
            apiKey: "AIzaSyC14XiFk8naG0gkW-ev7YRbxU0FLY8k_yI",
            authDomain: "animusic-da89e.firebaseapp.com",
            databaseURL: "https://animusic-da89e.firebaseio.com",
            projectId: "animusic-da89e",
            storageBucket: "animusic-da89e.appspot.com",
            messagingSenderId: "363034068126",
            appId: "1:363034068126:web:c73a87ff751c2292a1a78f",
            measurementId: "G-457KQF3VP7"
        };
        firebase.initializeApp(config);
        window.action = '{{ action }}'
    </script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>
